doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//d3js.org/d3.v3.min.js', charset='utf-8', type='text/JavaScript') 
    script(src='/javascripts/mayaUtils.js', type='text/JavaScript')
    script(src='/javascripts/main.js', type='text/JavaScript')
  body(onLoad="MainInit()")
    block content
