doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3.min.js', type='text/JavaScript') 
    script(src='/javascripts/main.js', type='text/JavaScript')
  body(onLoad="createSoccerViz()")
    block content
